<html>



<head>

<meta http-equiv="Content-Language" content="sv">

<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<title>Här öppnar snart Sveriges bästa fyndvaruhus!</title>

</head>



<body>



<p align="center">&nbsp;</p>

<p align="center">&nbsp;</p>

<p align="center"><font face="Arial Narrow" style="font-size: 30pt">Här öppnar 

snart Sveriges <b>bästa</b> fyndvaruhus!</font></p>

<p align="center"><br>

<br>

<br>

&nbsp;</p>

<p align="center">
<?=image_asset('salefinder-logo.jpg')?>
<!--<img border="0" src="salefinder-logo.jpg" width="786" height="134"></p>-->

<p align="center">&nbsp;</p>

<p align="center">&nbsp;</p>

<p align="center">&nbsp;</p>

<p align="center"><i><font face="Arial Narrow" style="font-size: 20pt">Det är 

kul att shoppa när det är alltid rea!</font></i></p>



</body>



</html>

