<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="X-UA-Compatible" content="IE=7" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title><?=$this->config->item('title');?> Categories</title>
	<?=css_asset("style.css","admin")?>
	<?=css_asset("jquery.wysiwyg.css","admin")?>
	<?=css_asset("facebox.css","admin")?>
	<?=css_asset("visualize.css","admin")?>
	<?=css_asset("date_input.css","admin")?>
	<?=css_asset("datatables.css","admin")?>
    
	<?=js_asset("jquery.js","admin")."\n";?>
	
	<?=js_asset("facebox.js","admin");?>
	<?=js_asset("jquery.validate.min.js","admin")?>
	<?=js_asset("jquery.dataTables.min.js","admin")?>
	<?=js_asset("jquery.filestyle.mini.js","admin")?>
	<?=js_asset("jquery.wysiwyg.js","admin")?>
	<?=js_asset("jquery.visualize.js","admin")?>
	<?=js_asset("jquery.select_skin.js","admin")."\n";?>
	<?=js_asset("jquery.date_input.pack.js","admin")."\n";?>
	<?=js_asset("tiny_mce/tiny_mce.js","admin")?>
	<?=js_asset("ajaxupload.js","admin")?>	
		
	<?=js_asset("custom.js","admin")?>			
	<!--[if lt IE 8]><?=css_asset("ie.css","admin")?><![endif]-->

</head>





<body>
	
	<div id="hld">
	
		<div class="wrapper">		<!-- wrapper begins -->

			<? include("header.html");?>
			
			
			<div class="block">
			
				<div class="block_head">
					<div class="bheadl"></div>
					<div class="bheadr"></div>
					
					<h2>Banner</h2>
					<ul>
			          <li><a href="<?=base_url()?>admin/banner">View Banner</a></li>
			        </ul>
					
				</div>		<!-- .block_head ends -->
                
                <div id="addcats1" class="block_content tab_content" style="display: none;">
			        <form method="post" enctype="multipart/form-data" id="form2" name="form2" action="">			          
			          <p>
			            <label>Banner Name*: </label>
			            <br>
			            <input type="text" id="name" class="required text small" name="name" value="<?=$edit_data['name']?>">
			            <span class="note error"></span> </p>
			          <p>
                        <label>Banner Code*: </label>
			            <br /><pre><?=$edit_data['banner_code']?></pre>
                        <textarea id="banner_code" style="width:37%" class="required text small" name="banner_code" rows="10">
                              <?php echo trim($edit_data['banner_code'])?>
                        </textarea> 
			            <span class="note error"></span>
                      </p>
			          <label>Banner Position:</label>			
			            <br />			
			            <select class="styled" name="position" id="position">
							<option value="left_random"  <?php echo (($edit_data['position'] == 'left_random') ? ' selected="selected"' : '' );?>>Left Column Random Banners</option>
							<option value="homepage_right"  <?php echo (($edit_data['position'] == 'homepage_right') ? ' selected="selected"' : '' );?>>Homepage Right</option>
                                                        <option value="homepage_rotating" <?php echo (($edit_data['position'] == 'homepage_rotating') ? ' selected="selected"' : '' );?>>Home Page Rotating</option>
                                                        <option value="sale_of_week" <?php echo (($edit_data['position'] == 'sale_of_week') ? ' selected="selected"' : '' );?>>Sale of Week</option>
						</select>			
			            <span class="note error"></span> </p>
			          
			           <label>Sort Order:</label>
                        <br />
                       <input type="text" id="sort_order" class="required text small" name="sort_order" value="<?=$edit_data['sort_order']?>">
			            <span class="note error"></span> </p>
			          <p>
			            <input type="submit" value="Submit" id="add" class="submit small" name="add">
			          </p>
			        </form>
			    </div>
				<div class="bendl"></div>
				<div class="bendr"></div>
			</div>		
		
			<? include("footer.html");?>
		</div>						<!-- wrapper ends -->
	</div>		<!-- #hld ends -->
</body>
</html>