<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="X-UA-Compatible" content="IE=7" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title><?=$this->config->item('title');?> Admin</title>
	<?=css_asset("style.css","admin")?>
	<?=css_asset("jquery.wysiwyg.css","admin")?>
	<?=css_asset("facebox.css","admin")?>
	<?=css_asset("visualize.css","admin")?>
	<?=css_asset("date_input.css","admin")?>
	<?=css_asset("datatables.css","admin")?>
    
	<?=js_asset("jquery.js","admin")."\n";?>
	
	<?=js_asset("facebox.js","admin");?>
	<?=js_asset("jquery.validate.min.js","admin")?>
	<?=js_asset("jquery.dataTables.min.js","admin")?>
	<?=js_asset("jquery.filestyle.mini.js","admin")?>
	<?=js_asset("jquery.wysiwyg.js","admin")?>
	<?=js_asset("jquery.visualize.js","admin")?>
	<?=js_asset("jquery.select_skin.js","admin")."\n";?>
	<?=js_asset("jquery.date_input.pack.js","admin")."\n";?>
	<?=js_asset("tiny_mce/tiny_mce.js","admin")?>
	<?=js_asset("ajaxupload.js","admin")?>	
		
	<?=js_asset("custom.js","admin")?>		
	<!--[if lt IE 8]><?=css_asset("ie.css","admin")?><![endif]-->
	<script type="text/javascript">
	tinyMCE.init({
		theme : "advanced",
        mode : "textareas",
        plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
		skin : "o2k7",
		skin_variant : "silver",
        // Theme options
        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : false
	});
	</script>
</head>





<body>
	
	<div id="hld">
	
		<div class="wrapper">		<!-- wrapper begins -->

			<? include("header.html");?>
			
			
			<div class="block">
			
				<div class="block_head">
					<div class="bheadl"></div>
					<div class="bheadr"></div>
					
					<h2>News</h2>
					<ul class="tabs">
			          <li><a href="#mangecats">View News</a></li>
			          <li><a href="#addcats">Add News</a></li>
			        </ul>
					
				</div>		<!-- .block_head ends -->
				
				
				
				<div class="block_content tab_content" id="mangecats">
					<?=$this->session->flashdata('message');?>
					<form action="" method="post">
						<table cellpadding="0" cellspacing="0" width="100%" class="datatable" id="quiz_data">
						
							<thead>
								<tr>								
									<th>News</th>
                                    <th>Status</th> 
									<th>User</th>                                                                      
									<th></th>
								</tr>
							</thead>
							
							<tbody>
								<?=$news_html?>
							</tbody>
							
						</table>

					</form>
					
				</div>		<!-- .block_content ends -->

				<div id="addcats" class="block_content tab_content" style="display: none;">
			        <form method="post" id="form1" name="form1" action="">			          
			          			
			          <p>			
			            <label>News Status: </label>			
			            <br />				         
                        <select id="news_status"  class="styled" name="news_status">
                        	<option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>		
			            <span class="note error"></span> </p>			
			          <p>			
			            <label>News Text*:</label>			
			            <br />			
			            <textarea name="news_text" style="width:700px; height:350px;" class="required text small" id="news_text"></textarea>			
			            <span class="note error"></span> </p>
			          <p>
			            <input type="submit" value="Submit" id="add" class="submit small" name="add">
			          </p>
			        </form>
			    </div>
				<div class="bendl"></div>
				<div class="bendr"></div>
			</div>		
		
			<? include("footer.html");?>
		
		
		</div>						<!-- wrapper ends -->
		
	</div>		<!-- #hld ends -->
	
	
	
	
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#quiz_data').dataTable({
				"iDisplayLength": 25,
				"aoColumns": [
					{ "asSorting": [ "asc" ] },			
					null,
					null,					
					{ "asSorting": false }
				]
			});
		    $('a[rel*=facebox]').facebox();
		    $("form select.styled").select_skin();
		    $("#form1").validate({
		           errorPlacement: function(error, element) {
		           error.appendTo(element.next('span'));
				}
		    });
		    $('.deletenews').live('click',function(){
				var pid = $(this).attr('rel');
				var x = window.confirm("WARNING: This will permanently remove the selected new(s). Are you sure you wish to do this?");
				if(x){window.location = '<?=base_url()?>admin/delete_news/'+pid;}
				return false;
			});	
		} );
	
		
	</script>

	
</body>
</html>