<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="X-UA-Compatible" content="IE=7" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title><?=$this->config->item('title');?> Categories</title>
	<?=css_asset("style.css","admin")?>
	<?=css_asset("jquery.wysiwyg.css","admin")?>
	<?=css_asset("facebox.css","admin")?>
	<?=css_asset("visualize.css","admin")?>
	<?=css_asset("date_input.css","admin")?>
	<?=css_asset("datatables.css","admin")?>
    
	<?=js_asset("jquery.js","admin")."\n";?>
	
	<?=js_asset("facebox.js","admin");?>
	<?=js_asset("jquery.validate.min.js","admin")?>
	<?=js_asset("jquery.dataTables.min.js","admin")?>
	<?=js_asset("jquery.filestyle.mini.js","admin")?>
	<?=js_asset("jquery.wysiwyg.js","admin")?>
	<?=js_asset("jquery.visualize.js","admin")?>
	<?=js_asset("jquery.select_skin.js","admin")."\n";?>
	<?=js_asset("jquery.date_input.pack.js","admin")."\n";?>
	<?=js_asset("tiny_mce/tiny_mce.js","admin")?>
	<?=js_asset("ajaxupload.js","admin")?>	
		
	<?=js_asset("custom.js","admin")?>			
	<!--[if lt IE 8]><?=css_asset("ie.css","admin")?><![endif]-->

</head>





<body>
	
	<div id="hld">
	
		<div class="wrapper">		<!-- wrapper begins -->

			<? include("header.html");?>
			
			
			<div class="block">
			
				<div class="block_head">
					<div class="bheadl"></div>
					<div class="bheadr"></div>
					
					<h2>Category</h2>
					<ul class="tabs">
			          <li><a href="#mangecats">View Categories</a></li>
			          <li><a href="#addcats">Add Categories</a></li>
			        </ul>
					
				</div>		<!-- .block_head ends -->
				
				
				
				<div class="block_content tab_content" id="mangecats">
					<?=$this->session->flashdata('message');?>
					<form action="" method="post">
					
						<table cellpadding="0" cellspacing="0" width="100%" class="datatable" id="quiz_data">
						
							<thead>
								<tr>									
									<th>Name</th>
									<th>Description</th>
                                    <th>Title</th>
                                    <th>Parent</th>
                                    <th>Image</th>
									<th></th>
								</tr>
							</thead>
							
							<tbody>
								<?=$category_html?>
							</tbody>
							
						</table>

					</form>
					
				</div>		<!-- .block_content ends -->

				<div id="addcats" class="block_content tab_content" style="display: none;">
			        <form method="post" enctype="multipart/form-data" id="form1" name="form1" action="">			          
			          <p>
			            <label>Category Name*: </label>
			            <br>
			            <input type="text" id="cat_name" class="required text small" name="cat_name">
			            <span class="note error"></span> </p>
			          <p>  
			          <p>
			            <label>Category Title*: </label>
			            <br>
			            <input type="text" id="cat_title" class="required text small" name="cat_title">
			            <span class="note error"></span> </p>
			          <p>
			            <label>Category Description*: </label>
			            <br>
			            <input type="text" id="cat_desc" class="required text small" name="cat_desc">
			            <span class="note error"></span> </p>
			          <p> 
			            <label>Parent Categories: </label>
			            <br />			
			           <select class="styled" name="parent_id" id="parent_id">
                       		<option value='0'>Select Parent Category</option>
                                <?=create_ddl_category($categories,'cat_id','cat_name')?>
						</select>			            			
			            <span class="note error"></span> </p>    	
			          <p> 
			            <label>Category filter fields: </label>
			            <br />			
                                    <input type="checkbox" value="color" name="filters[]" checked /> Colour
                                    <input type="checkbox" value="size" name="filters[]" checked /> Size
                                    <input type="checkbox" value="varumärke" name="filters[]" checked /> Brand
                                    <input type="checkbox" value="product_price" name="filters[]" checked /> Price
			            <span class="note error"></span> </p>    	
                                  <p>
                                    <label>Show on Home page: </label>	
                                    <input type="checkbox" value="1" name="show_on_homepage" checked />
			            <span class="note error"></span> </p>    	
                                  <p>
                                    <label>Sort Order: </label>	
                                    <input type="text" value="" name="sort_id"/>
			            <span class="note error"></span> </p>    	
                      <p class="fileupload">
			                <label>Category Image:</label><br />
			                
			                <input type="file" id="fileupload" />
			                <span id="uploadmsg"></span>
			                <input type="hidden" name="cat_img" id="cat_img" value="" />
			                <input type="hidden" name="cat_ext" id="cat_ext" value="" />
			          </p>
			          <p>
			          	<img id="catimage" /><br />
			          </p>
			          <p>
			            <input type="submit" value="Submit" id="add" class="submit small" name="add">
			          </p>
			        </form>
			    </div>
				<div class="bendl"></div>
				<div class="bendr"></div>
			</div>		
		
			<? include("footer.html");?>
		
		
		</div>						<!-- wrapper ends -->
		
	</div>		<!-- #hld ends -->
	
	
	
	
	<script type="text/javascript">
		$(document).ready(function() {
			
		    $('#quiz_data').dataTable();
		   $('a[rel*=facebox]').facebox();
		    $("form select.styled").select_skin();
		    $("input[type=file]").filestyle({ 
			    image: "<?=image_asset_url('upload.gif','admin')?>",
			    imageheight : 30,
			    imagewidth : 80,
			    width : 250
			});			
		    $("#form1").validate({
		           errorPlacement: function(error, element) {
		           error.appendTo(element.next('span'));
				}
		    });
			// File upload
			if ($('#fileupload').length) {
				new AjaxUpload('fileupload', {
					action: '<?=base_url()?>admin/add_cat_image/',
					autoSubmit: true,
					name: 'userfile',
					responseType: 'json',
					onSubmit : function(file , ext) {
							$('.fileupload #uploadmsg').addClass('loading').text('Uploading...');
							this.disable();	
						},
					onComplete : function(file, response) {
							if(response == 'error'){
								$('.fileupload #uploadmsg').removeClass('loading').text("Error occured in uploading! Try Again.");
								this.enable();
							}
							else{
								$('#catimage').attr('src',response.imagename);
								$('#cat_img').val(response.name);
								$('#cat_ext').val(response.ext);
								$('.fileupload #uploadmsg').removeClass('loading').text("Uploaded Successfully");
								this.enable();
							}
						}	
				});
			}
		    $('.deletecategories').live('click',function(){
				var cid = $(this).attr('rel');
				var x = window.confirm("WARNING: This will permanently remove the selected category(ies). Are you sure you wish to do this?");
				if(x){window.location = '<?=base_url()?>admin/delete_categories/'+cid;}
				return false;
			});	
		} );
	
		
	</script>

	
</body>
</html>