<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<?php $this->load->view('main/head.html'); ?>
	<?=js_asset("jquery.filestyle.mini.js","admin")?>
	<?=js_asset("ajaxupload.js","admin")?>
	<?=js_asset('jquery.tmpl.min.js')?>	
	<?=js_asset('jquery.uploadify.js')?>
	<?=js_asset("jquery.wysiwyg.js","admin")?>
	<?=js_asset("tiny_mce/tiny_mce.js","admin")?>
         <?=js_asset("products.js","admin")?>
	<script type="text/javascript">
	tinyMCE.init({
		theme : "advanced",
        mode : "textareas",
        plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
		skin : "o2k7",
		skin_variant : "silver",
        // Theme options
        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : false
	});
	</script>
	<body>
		<div class="wrapper">
			<div class="container">
				<header>
					<div class="header">
						<?php $this->load->view('main/header.html')?>
					</div><!--header-->
				</header>
				<div class="clear"></div><!--clear-->
				<div class="main_body">
					<div class="float_left">
						<?php $this->load->view('main/reg_left_bar.html')?>	
					</div>
					<div class="float_right" style="margin-left: 10px;">
						<p align="center">&nbsp;
							
						</p>
						<div style="min-height:500px">
						<h1>Edit Product</h1>
						<hr />
						<br />
                                                <form method="post" enctype="multipart/form-data" id="form1" name="form1" action="">
                                                <p>
                                                    <label>Produktnamn:</label>
                                                    <br />
                                                    <input name="product_name" type="text" class="required text small" id="product_name" value="<?=$edit_data['product_name']?>" />
                                                    <span class="note error"></span>
                                                </p>
				          	<p>                      
					            <label>Underkategori:</label>			
					            <br />
					            <span id="sub_cat">			
						            <select class="styled" name="cat_id" id="cat_id">
										<?=create_ddl_category($categories,'cat_id','cat_name',$edit_data['cat_id'])?>
									</select>
								</span>			
					            <span class="note error"></span>
					        </p>
							<!-- <p> 
								<label> Quantity: </label>
								<br />
								<input name="product_quantity" type="text"  class="text small" id="product_quantity" value="<?=$edit_data['product_quantity']?>" />
								<span class="note error"></span>
							</p> -->
							<p>
								<label>Pris: </label>
								<br />
								<input name="product_price" type="text" class="required text small" id="product_price" value="<?=$edit_data['product_price']?>" />
								<span class="note error"></span>
							</p>
                                                            
                                                        <div id="filter_fields_container">
                                                            <?php
                                                            $cat_id = $edit_data['cat_id'];
                                                            if($cat_id){
                                                                $fields = get_category_filter_fields($cat_id);
                                                            }else{
                                                                $fields = array();
                                                            }
                                                            foreach($fields as $key=>$value){
                                                                if($value=='product_price'){
                                                                    continue;
                                                                }
                                                                echo '<p>
                                                                <label>'.$value.'</label>			
                                                                <br />			
                                                                <input name="'.$value.'" type="text" value="'.$edit_data[$value].'" class="required text small" id="'.$value.'" />			
                                                                <span class="note error"></span> </p>';
                                                            }
                                                            ?>
                                                            </div>
							<p>
								<input type="radio" <?php echo ($edit_data['buy_link_type'] == '1')?'checked="checked"':'';?>  class="radio buy_link_type" name="buy_link_type" value="1" />
								<label>Köpa länk : </label>
								<br />
								<input name="product_buy_link1" type="text" class="text small" id="product_buy_link" value="<?php echo ($edit_data['buy_link_type'] == '1')?$edit_data['product_buy_link']:'';?>" />
								<span class="note error"></span>
								<br />
								<input type="radio" <?php echo ($edit_data['buy_link_type'] == '2')?'checked="checked"':'';?> class="buy_link_type radio" name="buy_link_type" value="2" />
								<label>Butikens adress</label>
								<br />
								<input name="product_buy_link2" type="text" class="text small"  value="<?php echo ($edit_data['buy_link_type'] == '2')?$edit_data['product_buy_link']:'';?>" />
								<span class="note error"></span>
								<br />
							</p>
                                                        <p id="citydiv">
								<label>Stad:</label>
								<br />
								<select class="styled required" name="city_id" id="city_id">
                                                                    <option value="" >Välj stad</option>
									<?=create_ddl($cities,'city_id','city_name', $edit_data['city_id'])?>
								</select>
								<span class="note error"></span>
                                                        </p>
							<p class="fileupload">
								<label>Bild:</label>
								<br />
								<img id="proimage" src="<?=other_asset_url($edit_data['product_image'].'_s.'.$edit_data['product_ext'],'','uploads/images/products')?>" />
								<br />
								<input type="file" id="fileupload" />
								<span id="uploadmsg"></span>
								<input type="hidden" name="product_image" id="product_image" value="<?=$edit_data['product_image']?>" />
								<input type="hidden" name="product_ext" id="product_ext" value="<?=$edit_data['product_ext']?>" />
							</p>
							<p>
					          		<label>Fler bilder:</label><br />
					          		<input type="file" name="more_upload" id="more_upload" />
					          		<input type="hidden" name="product_moreimages" id="product_moreimages" value="<?=implode(",",$pro_images['image_name'])?>" />
					                <input type="hidden" name="product_moreimagesext" id="product_moreimagesext" value="<?=implode(',',$pro_images['image_ext'])?>" />
					          </p>
					          <p class="image_del_side">
					          	<ul class="uploadedimages">
					          		<?=$pro_images['html']?>
					            </ul>
				              </p>
					          <p id="some_file_queue">		              
					          </p>
					          <br clear="all"/>
							<p>
								<label>Typ av rea</label>
								<br />
								<br />
								<input type="radio" <?php echo ($edit_data['sale_type_id'] == '1')?'checked="checked"':'';?> class="radio" name="sale_type_id" value="1" />
								<label>Undersatt pris</label>
								<br />
								Reapris
								<input name="sale_value[]" type="text" class="text small" style="width:40px" value="<?php echo ($edit_data['sale_type_id'] == '1')?$edit_data['sale_value']:'';?>" />
								<span class="note error"></span>
								<br />
								<input type="radio" <?php echo ($edit_data['sale_type_id'] == '2')?'checked="checked"':'';?> class="radio" name="sale_type_id" value="2" />
								<label>% Rea</label>
								<br />
								<input name="sale_value[]" type="text" class="text small" style="width:40px" value="<?php echo ($edit_data['sale_type_id'] == '2')?$edit_data['sale_value']:'';?>" />
								% Rea<span class="note error"></span>
								<br /> 
							</p>
							<p>
								<label>Startdatum:</label>
								<input type="text" class="text date_picker" name="sale_start_date" value="<?=date('d M Y',strtotime($edit_data['sale_start_date']))?>" />
								&nbsp;&nbsp; <label>Slutdatum:</label>
								<input type="text" class="text date_picker" name="sale_end_date" value="<?=date('d M Y',strtotime($edit_data['sale_end_date']))?>" />
							</p>
							<p>
								<label>Butiksnamn : </label>
								<br />
								<input name="store_name" type="text" class="text medium" id="store_name" value="<?=$edit_data['store_name']?>" />
								<span class="note error"></span>
							</p>
							<p>
								<label>Standard fraktkostnad : </label>
								<br />
								<input name="standard_shipping_cost" type="text" class="text small" style="width:40px" id="standard_shipping_cost" value="<?=$edit_data['standard_shipping_cost']?>" />
								<span class="note error"></span>
							</p>
							<p>
								<label>Beskrivning:</label>
								<br />
								<textarea name="product_description"  id="product_description"><?=$edit_data['product_description']?></textarea>
								<span class="note error"></span>
							</p>
							<p>
								<label>Nya:</label>
								<input type="checkbox" name="is_featured" id="is_featured" value="1" <?php echo ($edit_data['is_featured'] == '1')?'checked="checked"':'';?>  />
							</p>
							<p>
								<input type="submit" value="Submit" id="add" class="submit small" name="add">
							</p>
						</form>
					</div>
					</div>
					<div class="clear"></div>
					<!--footer-->
					<?php $this->load->view('main/footer.html')?>
				</div><!--container-->
			</div><!--wrapper-->
			<script type="text/javascript">
				$(document).ready(function() {
					// Date picker
					$('input.date_picker').datepicker();
					// File upload
                                        console.log($('#fileupload').length);
					if($('#fileupload').length) {
						new AjaxUpload('fileupload', {
							action : '<?=base_url()?>admin/add_pro_image/',
							autoSubmit : true,
							name : 'userfile',
							responseType : 'json',
							onSubmit : function(file, ext) {
								$('.fileupload #uploadmsg').addClass('loading').text('Uploading...');
								this.disable();
							},
							onComplete : function(file, response) {
								if(response == 'error') {
									$('.fileupload #uploadmsg').removeClass('loading').text("Error occured in uploading! Try Again.");
									this.enable();
								} else {
									$('#proimage').attr('src', response.imagename);
									$('#product_image').val(response.name);
									$('#product_ext').val(response.ext);
									$('.fileupload #uploadmsg').removeClass('loading').text("Uploaded Successfully");
									this.enable();
								}
							}
						});
					}
					// more images
						<?php
						if(count($pro_images['image_name']) > 0){?>
						var proimgs = ['<?=implode("','",$pro_images['image_name'])?>'];
			    		var proimgsext = ['<?=implode("','",$pro_images['image_ext'])?>'];	
						<?php
						}else{?>
						var proimgs = new Array();
			    		var proimgsext = new Array();
			    		<?php
			    		}?>
						$("#more_upload").uploadify({
							buttonImage   : '<?=image_asset_url("choose_file.jpg")?>',
							height        : 33,
							swf           : '<?=other_asset_url('uploadify.swf','','js')?>',
							uploader      : '<?php echo base_url();?>user/add_pro_image',
							post_params	  : {"browser_cookie": "<?= trim(base64_encode(mcrypt_encrypt(MCRYPT_RIJNDAEL_256, $this->config->item('encryption_key'), $_COOKIE[$this->config->item('sess_cookie_name')], MCRYPT_MODE_ECB, mcrypt_create_iv(mcrypt_get_iv_size(MCRYPT_RIJNDAEL_256, MCRYPT_MODE_ECB), MCRYPT_RAND)))); ?>"},
							width         : 108,
							fileObjName   : 'userfile',
							queueID  	  : 'some_file_queue',
							fileTypeDesc  : 'Image Files',
				        	fileTypeExts  : '*.jpg; *.png',
					        'onUploadSuccess' : function(file, data, response) {
					        	var myobj = JSON.parse(data);
					            //alert('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + data);
					            proimgs.push(myobj.name);
					            proimgsext.push(myobj.ext);
					            $('#product_moreimages').val(proimgs.join(','));
					            $('#product_moreimagesext').val(proimgsext.join(','));
					            $('.uploadedimages').append('<li><img src="<?=other_asset_url("'+myobj.name+'_s.'+myobj.ext+'","","uploads/images/products")?>" width="32" height="32" alt="image" />'+
						                    				'<div class="clr"></div><a href="#" class="delproductimg" rel="'+myobj.name+'_'+myobj.ext+'">Delete</a> </li>');
					        },
					        'onUploadError' : function(file, errorCode, errorMsg, errorString) {
					            alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
					        }
						});
						$('.delproductimg').live('click',function(){
							var timg = $(this).attr('rel');
							$.post('<?php echo base_url();?>user/unlink_promoreimage',{img:timg},function(data){});
							$(this).parent().remove();
							return false;
						});
				});
				function change_cat(cat_id){
					$('#sub_cat').html('Loading...');
					$.post('<?=base_url()?>admin/change_cat',{cat_id:cat_id},function(response){
						$('#sub_cat').html(response);
					});
				}
			</script>
	</body>
</html>